In [24]:
import numpy as np
import pandas as pd
import sqlite3
import pickle
conn=sqlite3.connect("C:/Users/12499/Desktop/亚马逊食品评价/database.sqlite")
data=pd.read_sql_query("""
SELECT *
from Reviews
WHERE Score!=3 """,conn)
conn.close()
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [25]:
data.shape

(525814, 10)

In [26]:
def partition(x):
    if x>3:
        return "positive"
    return "negative"
data['Score']=data['Score'].map(partition)

In [27]:
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,positive,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,negative,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,positive,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,negative,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,positive,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [28]:
data["Time"].nunique()

3157

In [29]:
data["Time"].unique()

array([1303862400, 1346976000, 1219017600, ..., 1090627200, 1072915200,
       1087776000], dtype=int64)

In [30]:
data[data["Time"]==  1303862400]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,positive,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
679,731,B002U56JXK,A1PIDGL665V5QP,Rod Jonse,2,2,positive,1303862400,Unparalleled taste,I purchased this 24 pack of Big Ass soda and o...
680,732,B002U56JXK,ASC04R0BT3TO4,"the BURNiNATOR ""raggle fraggle""",2,2,positive,1303862400,Amazing,"Well being the big red fan that I am, I bought..."
1520,1648,B001RVFDOO,A18GRF94T65X9Z,Reem Chavez,0,0,positive,1303862400,Best chips!,I wa hesitant about ordering this product simp...
2245,2440,B0089SPDUW,A163RZETDROJL5,"D. Johnson ""Dr. Duck""",0,0,positive,1303862400,Best K-cup out there.,So Far this is the only K-cup I've found thats...
...,...,...,...,...,...,...,...,...,...,...
518475,560543,B000CQID1K,A3AZ27UKODSICR,Cherry,2,7,negative,1303862400,Taste,It contains too much fat and when you bite it ...
519782,561961,B000GG1OB2,A6TBR6L2D4XKC,Marvin R. Doering,0,0,positive,1303862400,Favorite tea,Hard to find the decaf version locally so this...
522038,564393,B001P3PR5O,A39C5WQ82J70G4,manoa tutu,0,0,positive,1303862400,Two dogs love it!,I have very small dogs (5 and 7 lbs) and it do...
524993,567565,B001BKLHMI,A2YW72WK6I97UP,Kathleen E. Shelby,2,2,positive,1303862400,Almost like a cinnamon roll,These Kashi bars are wonderful. Heat them a l...
525380,567990,B0030VJ8YU,A2P7TE7CVQAHH7,Dana Puckett,5,5,positive,1303862400,Don't give up and give it more then one try!,I gave this flavor to my 6 month old son but h...

In [31]:
data[(data['Time'] == 1303862400) & (data['ProfileName'] == 'R. Ellis "Bobby"')]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
8166,8935,B0007A0AP8,A74SHV5ZD3RLT,"R. Ellis ""Bobby""",15,15,positive,1303862400,The price is right,We have a little Maltese that we spoil to no e...
113110,122699,B001MWRT2W,A74SHV5ZD3RLT,"R. Ellis ""Bobby""",0,0,positive,1303862400,I think he likes them. But not as much as Gre...,We have a little Maltese that is given a <a hr...
146203,158601,B000MLG4K2,A74SHV5ZD3RLT,"R. Ellis ""Bobby""",4,4,positive,1303862400,"He likes them, but I don't think he loves them...","To be fair, our dog is spoiled. He gets treat..."
162162,175817,B0014DUUFC,A74SHV5ZD3RLT,"R. Ellis ""Bobby""",15,15,positive,1303862400,The price is right,We have a little Maltese that we spoil to no e...
242677,263188,B001BOXBHI,A74SHV5ZD3RLT,"R. Ellis ""Bobby""",4,4,positive,1303862400,"He likes them, but I don't think he loves them...","To be fair, our dog is spoiled. He gets treat..."
325087,351843,B001MWRT0Y,A74SHV5ZD3RLT,"R. Ellis ""Bobby""",0,0,positive,1303862400,I think he likes them. But not as much as Gre...,We have a little Maltese that is given a <a hr...
494170,534267,B0007A0AOY,A74SHV5ZD3RLT,"R. Ellis ""Bobby""",15,15,positive,1303862400,The price is right,We have a little Maltese that we spoil to no e...
504729,545770,B001E5E1C8,A74SHV5ZD3RLT,"R. Ellis ""Bobby""",15,15,positive,1303862400,The price is right,We have a little Maltese that we spoil to no e...

In [32]:
sorted_data =data.sort_values("ProductId")

In [33]:
final=sorted_data.drop_duplicates(subset={"UserId","ProfileName","Text","Time"})
final.shape

(364173, 10)

In [34]:
final[final['HelpfulnessNumerator'] > final['HelpfulnessDenominator']]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
59301,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,positive,1224892800,Bought This for My Son at College,My son loves spaghetti so I didn't hesitate or...
41159,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,positive,1212883200,Pure cocoa taste with crunchy almonds inside,It was almost a 'love at first bite' - the per...

In [35]:
final=final[final.HelpfulnessNumerator<=final.HelpfulnessDenominator]
final.shape

(364171, 10)

In [36]:
final['Score'].value_counts()

positive    307061
negative     57110
Name: Score, dtype: int64

In [37]:
final.shape

(364171, 10)

In [38]:
conn = sqlite3.connect('final.sqlite')
c=conn.cursor()
final.to_sql('Reviews', conn, if_exists='replace')
conn.close()

In [39]:
conn = sqlite3.connect('final.sqlite')
final = pd.read_sql_query("""SELECT * FROM Reviews""", conn)
conn.close()
final.head()

,index,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,138706,150524,0006641040,ACITT7DI6IDDL,shari zychinski,0,0,positive,939340800,EVERY book is educational,this witty little book makes my son laugh at l...
1,138688,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,positive,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc..."
2,138689,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,positive,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...
3,138690,150508,0006641040,AZGXZ2UUK6X,"Catherine Hallberg ""(Kate)""",1,1,positive,1076025600,a good swingy rhythm for reading aloud,This is a great little book to read aloud- it ...
4,138691,150509,0006641040,A3CMRKGE0P909G,Teresa,3,4,positive,1018396800,A great way to learn the months,This is a book of poetry about the months of t...

In [40]:
final.shape

(364171, 11)

In [41]:
import re

In [45]:
import nltk
from nltk.corpus import stopwords

In [46]:
def cleanhtml(sentence):
    '''This function removes all the html tags in the given sentence'''
    cleanr = re.compile('<.*?>')    ## find the index of the html tags
    cleantext = re.sub(cleanr, ' ', sentence)  ## Substitute <space> in place of any html tag
    return cleantext

In [47]:
def cleanpunc(sentence):
    '''This function cleans all the punctuation or special characters from a given sentence'''
    cleaned = re.sub(r'[?|@|!|^|%|\'|"|#]',r'',sentence)
    cleaned = re.sub(r'[.|,|)|(|\|/]',r' ',cleaned)
    return  cleaned

In [50]:
stop = set(stopwords.words('english')) #set of stopwords

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - 'C:\\Users\\12499/nltk_data'
    - 'D:\\anaconda\\nltk_data'
    - 'D:\\anaconda\\share\\nltk_data'
    - 'D:\\anaconda\\lib\\nltk_data'
    - 'C:\\Users\\12499\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [ ]:
def preprocessing(series):
    '''The function takes a Pandas Series object containing text in all the cells
       And performs following Preprocessing steps on each cell:
       1. Clean text from html tags
       2. Clean text from punctuations and special characters
       3. Retain only non-numeric Latin characters with lenght > 2
       4. Remove stopwords from the sentence
       5. Apply stemming to all the words in the sentence
       
       Return values:
       1. final_string - List of cleaned sentences
       2. list_of_sent - List of lists which can be used as input to the W2V model'''
    
    i = 0
    str1=" "
    final_string = []    ## This list will contain cleaned sentences
    list_of_sent = []    ## This is a list of lists used as input to the W2V model at a later stage
    
    ## Creating below lists for future use
    all_positive_words=[] # store words from +ve reviews here
    all_negative_words=[] # store words from -ve reviews here
    
    
    for sent in series.values:
        ## 
        filtered_sent = []
        sent = cleanhtml(sent)    ## Clean the HTML tags
        sent = cleanpunc(sent)    ## Clean the punctuations and special characters
        ## Sentences are cleaned and words are handled individually
        for cleaned_words in sent.split():
            ## Only consider non-numeric words with length at least 3
            if((cleaned_words.isalpha()) and (len(cleaned_words) > 2)):
                ## Only consider words which are not stopwords and convert them to lowet case
                if(cleaned_words.lower() not in stop):
                    ## Apply snowball stemmer and add them to the filtered_sent list
                    s = (sno.stem(cleaned_words.lower()))#.encode('utf-8')
                    filtered_sent.append(s)    ## This contains all the cleaned words for a sentence
                    if (final['Score'].values)[i] == 'positive':
                        all_positive_words.append(s) #list of all words used to describe positive reviews
                    if(final['Score'].values)[i] == 'negative':
                        all_negative_words.append(s) #list of all words used to describe negative reviews
        ## Below list is a list of lists used as input to W2V model later
        list_of_sent.append(filtered_sent)
        ## Join back all the words belonging to the same sentence
        str1 = " ".join(filtered_sent)
        ## Finally add the cleaned sentence in the below list
        final_string.append(str1)
        #print(i)
        i += 1
    return final_string, list_of_sent

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
import warnings
warnings.filterwarnings('ignore')

import os
for dirname, _, filenames in os.walk('C:/Users/12499/Desktop/亚马逊食品评价'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:/Users/12499/Desktop/亚马逊食品评价\database.sqlite
C:/Users/12499/Desktop/亚马逊食品评价\hashes.txt
C:/Users/12499/Desktop/亚马逊食品评价\Reviews.csv

In [49]:
df = pd.read_csv("C:/Users/12499/Desktop/亚马逊食品评价/Reviews.csv", sep="\t")
df.head()

  Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0  1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1...
1  2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,13469...
2  3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""N...
3  4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923...
4  5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham...